<table class="centered">
  <tr>
    <th>Name</th>
    <th>Drank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td id="drank-<%= person.id %>"><%= person.drank %> oz.</td>
    <td>
      <%= form_tag add_drink_person_path(person), :method => :put do |f| -%>
        <%= hidden_field_tag :oz, '8' %>
        <%= submit_tag "8 oz." %>
      <%- end -%>
    </td>
    <td>
      <%= form_tag add_drink_person_path(person), :method => :put do |f| -%>
        <%= hidden_field_tag :oz, '16' %>
        <%= submit_tag "16 oz." %>
      <%- end -%>
    </td>
    <td>
      <%= form_tag reset_drank_person_path(person), :method => :put do |f| -%>
        <%= submit_tag "Reset" %>
      <%- end -%>
    </td>
  </tr>
<% end %>
</table>
