<%-# coding: UTF-8 -%>
<table class="centered">
  <tr>
    <th>Name</th>
    <th>Drank</th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td id="drank-<%= person.id %>"><%= person.drank %> oz.</td>
    <td>
      <%= form_for Drink.new(:person => person, :amount => 8) do |f| %>
        <%= f.hidden_field :person_id %>
        <%= f.hidden_field :amount %>
        <%= submit_tag "8 oz.", :class => 'water' %>
      <%- end -%>
    </td>
    <td>
      <%= form_for Drink.new(:person => person, :amount => 16) do |f| %>
        <%= f.hidden_field :person_id %>
        <%= f.hidden_field :amount %>
        <%= submit_tag "16 oz.", :class => 'water' %>
      <%- end -%>
    </td>
  </tr>
<% end %>
</table>

<p><%= link_to "Today's drinks", today_drinks_path %></p>
<p><%= link_to "This week's drinks", this_week_drinks_path %></p>
